<!DOCTYPE html>
<html lang="en" ng-app="RegApp">

<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/css/day7wa.css" />
</head>

<body ng-cloak>
    <div class="col-sm-2 col-lg-4"></div>
    <div ng-controller="RegCtrl as crtl" class="col-sm-8 col-lg-4 registration-page">
        <h1>Registration - W</h1>
        <form name="registrationform" ng-submit="registrationform.$valid && ctrl.onSubmit()" novalidate>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input id="email" name="email" type="email" placeholder="email@domain.com" class="form-control" ng-model="ctrl.user.email" required/>
                <div class="validation" data-ng-show="registrationform.email.,$touched || registrationform.$submitted">
                    <div data-ng-show="registrationform.email.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>Email is required
                    </div>
                    <div data-ng-show="registrationform.email.$error.email">
                            <span class="glyphicon glyphicon-alert"></span>Email is invalid
                        </div>

                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" placeholder="enter your password" class="form-control" />
            </div>
            <div class="form-group">
                    <label for="confirmpassword">Full Name</label>
                    <input id="confirmpassword" name="confirmpassword" type="password" placeholder="enter your full Fame" class="form-control" />
            </div>
            
            <div class="form-group">
                    <label for="gender">Gender</label></br>
                    <input id="gender" name="gender" type="radio" value="M"/>Male
                    </br>
                    <input id="gender" name="gender" type="radio" value="F" ng-checked="true"/>Female
            </div>

            <div class="form-group">
                    <label for="dob">Date of Birth</label>
                    <input id="dob" name="dob" type="date" placeholder="mm/dd/yyyy" class="form-control" />
            </div>

            <div class="form-group">
                    <label for="address">Address</label>
                    <input id="address" name="address" type="text" placeholder="enter address" class="form-control" />
            </div>

            <div class="form-group">
                    <label for="nationality">Nationality</label>
                    <select class="form-control" id="nationality">
                    <option value="1">Singaporean</option>
                    <option value="2">Malaysian</option>
                    <option value="3">Thai</option>
                    <option value="4">Malaysian</option>
                    </select>
            </div>

            <div class="form-group">
                   <label for="contactNumber">Contact Number</label>
                   <input id="contactNumber" name="contactNumber" type="number" class="form-control"/>
            </div>

            <div class="form-group">
                   <hr/>
                   <input id="submit" name"submit" type="submit" class="btn btn-success" />
            </div>



        </form>
    
    </div>

<p> Hello World</p>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <!-- <script src="/js/app.js"></script> -->
    <!-- refactor app.js to app.module.js and app.controller.js -->
    <script src="/js/app.module.js"></script>
    <script src="/js/app.controller.js"></script>
</body>

</html>