.registration-page h1 {
    
       text-align: center;
    
       text-transform: uppercase;
    
       border-top: thin solid #ddd;
    
       border-bottom: thin solid #ddd;
    
       padding: 20px 0;
    
    }
    
    
    
    .validation {
    
       color: #d9534f
    
    
    
    }